.login-header {
  color: #61677A;
  text-align: center;
}

.login-field {
  width: 35%;
  margin: 10px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  vertical-align: middle;
  background-color: #D8D9DA;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #000000;
  border-radius: 6px;
  outline: none;
  box-shadow: rgba(225, 228, 232, 0.2) 0px 1px 0px 0px inset;
}

.login-field:focus{
  border-color: #000000;
  outline: none;
}

.login-field::placeholder {
  color: #61677A;
}

.login-main {
  color: #ffffff;
  font-family: 'Verdana', 'Geneva', sans-serif;
  text-align: center;
}

button {
  margin: 10px;
  display: inline-block;
  outline: 0;
  cursor: pointer;
  padding: 5px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 6px;
  color: #ffffff;
  background-color: #61677A;
  border-color: #1b1f2326;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;
}

button:hover {
  background-color: #5a5f70;
  border-color: #1b1f2326;
  transition-duration: 0.1s;
}

.button {
  position: absolute;
  top: 11.5rem;
  left: 26.75em;
}

.button2 {
  position: absolute;
  top: 11.5rem;
  left: 33.75em;
}




.field {
  width: 100%;
  height: 200px;
  background-color: rgba(75, 81, 84, 1);
  color: #ffffff;
  resize: none;
  font-family: monospace;
  font-size: 14px;
  outline: none;
}

.simple-table {
  border-collapse: collapse;
  width: 101.5%;
  background-color: rgba(75, 81, 84, 1);
  font-family: 'Verdana', 'Geneva', sans-serif;
  height: 10px;
  margin-top: 10px;
}

.simple-table th, .simple-table td {
  border: 1px solid #000000;
  text-align: left;
  font-size: 12px;
  color: #ffffff;
}

.simple-table th {
  background-color: rgba(75, 81, 84, 1);
}

.side-column {
  background-color: rgba(75, 81, 84, 1);
  color: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.file-option-db {
  font-size: 16px;
  padding: 2px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'Verdana', 'Geneva', sans-serif;
}

.file-option-db-selected {
  font-size: 16px;
  padding: 2px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'Verdana', 'Geneva', sans-serif;
  color: blue;
}

.file-option-db:hover {
  background-color: rgb(100, 105, 105);
}

.file-option {
  font-size: 14px;
  margin-left: 10px;
  padding: 2px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'Verdana', 'Geneva', sans-serif;
}

.file-option:hover {
  background-color: rgb(100, 105, 105);
}

.row {
  display: flex;
}

.column {
  float: left;
  padding: 10px;
}

.left {
  width: 70%;
}

.right {
  width: 30%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.nontable-result {
  color: #ffffff;
  font-family: 'Verdana', 'Geneva', sans-serif;
  font-size: 12px;
  margin: 10px;
  margin-left: 15px;
}