.field {
  width: 100%;
  height: 200px;
  background-color: rgba(75, 81, 84, 1);
  color: #ffffff;
  resize: none;
  font-family: monospace;
  font-size: 14px;
  outline: none;
}

.button {
  position: absolute;
  top: 11.5rem;
  left: 26.75em;
  background-color: rgb(100, 105, 105);
  color: #ffffff;
  width: 90px;
  height: 35px;
}

.button2 {
  position: absolute;
  top: 11.5rem;
  left: 33.75em;
  background-color: rgb(100, 105, 105);
  color: #ffffff;
  width: 90px;
  height: 35px;
}

.simple-table {
  border-collapse: collapse;
  width: 101.5%;
  background-color: rgba(75, 81, 84, 1);
  font-family: 'Verdana', 'Geneva', sans-serif;
  height: 10px;
  margin-top: 10px;
}

.simple-table th, .simple-table td {
  border: 1px solid #000000; /* Border color for cells */
  text-align: left;
  font-size: 12px;
  color: #ffffff;
}

.simple-table th {
  background-color: rgba(75, 81, 84, 1);
}


/* file side column */
.side-column {
  background-color: rgba(75, 81, 84, 1);
  color: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.file-option-db {
  font-size: 16px;
  padding: 2px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'Verdana', 'Geneva', sans-serif;
}

.file-option-db-selected {
  font-size: 16px;
  padding: 2px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'Verdana', 'Geneva', sans-serif;
  color: blue;
}

.file-option-db:hover {
  background-color: rgb(100, 105, 105);
}

.file-option {
  font-size: 14px;
  margin-left: 10px;
  padding: 2px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'Verdana', 'Geneva', sans-serif;
}

.file-option:hover {
  background-color: rgb(100, 105, 105);
}

 /* two column layout */
.row {
  display: flex;
}

.column {
  float: left;
  padding: 10px;
}

.left {
  width: 70%;
}

.right {
  width: 30%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.login-main {
  color: #ffffff;
}

.login-input1 {
  margin: 5px;
  margin-left: 41px;
}

.login-input2 {
  margin: 5px;
  margin-left: 10px;
}

.login-input3 {
  margin: 5px;
  margin-left: 14px;
}

.nontable-result {
  color: #ffffff;
  font-family: 'Verdana', 'Geneva', sans-serif;
  font-size: 12px;
  margin: 10px;
  margin-left: 15px;
}